<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for network communication -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".personal.Food_personal"
            android:exported="false" />
        <activity
            android:name=".personal.Electricity_personal"
            android:exported="true" />
        <activity
            android:name=".industry.Dashboard_Industry"
            android:exported="true" />
        <activity
            android:name=".personal.Home_host"
            android:exported="true" /> <!-- Launcher Activity -->
        <activity
            android:name=".ui.Launcher_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Personal User Activities -->
        <activity
            android:name=".personal.Registation"
            android:exported="true" />
        <activity
            android:name=".personal.Login"
            android:exported="true" />
        <activity
            android:name=".personal.Home"
            android:exported="true" />
        <activity
            android:name=".personal.Transpotation"
            android:exported="true" /> <!-- Industry User Activities -->
        <activity
            android:name=".industry.Registation_Industry"
            android:exported="true" />
        <activity
            android:name=".industry.Login_Industry"
            android:exported="true" />
        <activity
            android:name=".industry.Home_Industry"
            android:exported="true" /> <!-- Common UI Activity -->
        <activity
            android:name=".ui.Choise_personal_home"
            android:exported="true" />
    </application>

</manifest>